@* index Template File *@
@(dataList: Seq[AQIrecord])
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>高雄市細懸浮微粒PM2.5來源</title>
<link href="css/ind.css" type="text/css" rel="stylesheet">
<link href="css/reset.css" type="text/css" rel="stylesheet">
</head>

<body>
<!--頁頭-->
<div class="top"><div class="min-box">
<ul class="top-bnt">
<li><a class="acca" href="index.html" accesskey="U" title=":::(上方區塊)">:::</a></li>
<li><a id="item-101" href="index.html" title="回首頁">回首頁</a></li>
<li><a id="item-102" href="link.html" title="友善連結">友善連結</a></li>
<li><a id="item-103" href="https://www.google.com.tw/maps/place/833%E9%AB%98%E9%9B%84%E5%B8%82%E9%B3%A5%E6%9D%BE%E5%8D%80%E6%BE%84%E6%B8%85%E8%B7%AF834%E8%99%9F/@@22.6475493,120.3471839,17z/data=!3m1!4b1!4m2!3m1!1s0x346e1b2a4ffdc86f:0x5f7e290e7d92451d?hl=zh-TW" target="_blank" title="交通位置">交通位置</a></li>
<li><a id="item-104" href="sitemap.html" title="網站導覽">網站導覽</a></li>
</ul>
</div></div>

<div class="header">
<div class="logo"><a href="index.html" accesskey="I"><img src="images/master/logo.png" title="高雄市政府環境保護局" alt="高雄市政府環境保護局"></a></div>

<ul class="menu_box">
<li><a id="menu01" href="legislation.html" title="法規介紹" alt="法規介紹"></a></li>
<li><a id="menu02" href="origin.html" title="來源介紹" alt="來源介紹"></a></li>
<li><a id="menu03" href="tactics.html" title="管制策略" alt="管制策略"></a></li>
<li><a id="menu04" href="propaganda.html" title="宣導資訊" alt="宣導資訊"></a></li>
<li><a id="menu05" href="download.html" title="資料庫" alt="資料庫"></a>
<ul>
<li><a href="download.html" target="_blank" title="一般民眾">一般民眾</a></li>
<li><a href="/login" title="管理單位" target="_blank">管理單位</a></li>
</ul>
</li>
</ul>
</div>

<div class="min-box">

<div><img src="images/index/banner.jpg" title="細懸浮微粒PM2.5來源" alt="細懸浮微粒PM2.5來源"></div>
       
<div class="container">
<div class="acca-box"><a class="acca" href="index.php" accesskey="C" title=":::(內容區塊)">:::</a></div>

<div class="container-left">
<div class="index-news-box">
<h1><img src="images/index/index-news-title.jpg" title="最新消息" alt="最新消息"></h1>
<h2><img src="images/index/index-news-banner.jpg" title="最新消息" alt="最新消息"></h2>
<ul>
<li></li>

<li><a href="/epbkcg/legislation-04-1060606.html">106.6.6 環保署修正發布「空氣品質嚴重惡化緊急防制辦法」 強化空氣品質嚴重惡化因應作為</a></li>
<li><a href="/epbkcg/legislation-04-1060601.html">106.6.1 改善秋冬空氣品質 環保署調高固定污染源空污費率</a></li>
<li><a href="/epbkcg/legislation-04-1060514.html">106.5.14 高雄10月啟用電動汽車共享系統 擬半小時收150元</a></li>
<li><a href="/epbkcg/legislation-04-1060502.html">106.5.2 環保署長視察高屏地區空氣污染管制作為</a></li>
<li><a href="/epbkcg/legislation-04-1060424.html">106.4.24 補助三期柴油大貨車裝濾煙器　配套禁行法令業者不爽</a></li>
<li><a href="/epbkcg/legislation-04-1060411.html">106.4.11 清明紙錢收受量提升三成</a></li>
<li><a href="/epbkcg/legislation-04-1060329.html">106.3.29 家門口燒金紙 環保局以勸導為主</a></li>
<li><a href="/epbkcg/legislation-04-1060311.html">106.3.11 反空污 陳菊：努力無止境</a></li>
<li><a href="/epbkcg/legislation-04-1060220.html">106.2.20 回應空汙遊行 高市環保局：減排措施漸見成效</a></li>
<li><a href="/epbkcg/legislation-04-1060209.html">106.2.9 總量管制抗空污 高雄市多方向持續行動中</a></li>
<li><a href="/epbkcg/legislation-04-1060120.html">106.1.20 高雄市105年二行程機車汰舊數量全國第一</a></li>








<li><a href="/epbkcg/legislation-04.html">.............更多消息</a></li>
</ul>
</div>

<div class="index-title01">
<img src="images/index/index-title01.jpg" title="高雄市即時PM2.5資料查詢" alt="高雄市即時PM2.5資料查詢">
<a href="http://ksenlab.ksepb.gov.tw/kh-taqm/zh-tw/Pm25Index.aspx" target="_blank" title="高雄市細懸浮微粒指標查詢(另開視窗)">高雄市細懸浮微粒指標查詢</a>
<a href="http://taqm.epa.gov.tw/pm25/tw/PM25A.aspx?area=7" target="_blank" title="環保署細懸浮微粒濃度查詢(另開視窗)">環保署細懸浮微粒濃度查詢</a>
</div>

<div class="index-title02">
<img src="images/index/index-title02.jpg" title="高雄市空氣品質即時通下載" alt="高雄市空氣品質即時通下載">

<a href="https://itunes.apple.com/tw/app/gao-xiong-shi-kong-qi-pin/id765316578?l=zh&mt=8" target="_blank"><img src="images/index/ios-icon.jpg" title="ios下載(另開視窗)" alt="ios下載(另開視窗)"></a>
<a href="https://play.google.com/store/apps/details?id=tw.gov.kcg.kaohsiungairtester&hl=zh-TW" target="_blank"><img src="images/index/android-icon.jpg" title="android下載(另開視窗)" alt="android下載(另開視窗)"></a>

</div>

</div>
<div class="container-right">
<table>
<tr class="index-table01">
<th colspan="5">高雄市即時空氣品質查詢</th>
</tr>
<tr class="index-table02">
<th class="table-left">測站</th>
<th>空氣品質<br>指標AQI</th>
<th>汙染物</th>
<th>狀態</th>
<th>PM2.5</th>
</tr>
	@if(dataList.length != 0){
		@for(data<-dataList.zipWithIndex){			
			@if(data._2 % 2 == 0){
			<tr class="index-text01">			
			}else{
			<tr class="index-text02">
			}
				<td>@data._1.SiteName</td>				
				<td style="@AQI.getAQIstyle(data._1.AQI)">@data._1.AQI</td>	
				<td>@data._1.Pollutant</td>
				<td>@data._1.Status</td>
				<td>@data._1.PM25</td>				
			</tr>
		}
	}else{
		<tr class="index-text01">
			<td>環保署網站維修中</td><td>-</td><td>-</td>
		</tr>
	}
</table>
</div>
</div>
</div>

<div class="index-link-bg">
<ul>
<h1><img src="images/index/link-title.jpg" title="友善連結" alt="友善連結"></h1>
<li><a href="http://www.ksepb.gov.tw/" target="_blank"><img src="images/index/link01.jpg" title="高雄市環保局" alt="高雄市環保局"></a></li>
<li><a href="http://ksenlab.ksepb.gov.tw/kh-taqm/zh-tw/fpmi.aspx" target="_blank"><img src="images/index/link02.jpg" title="高雄空品網頁" alt="高雄空品網頁"></a></li>
<li><a href="http://kses.ksepb.gov.tw/kses/" target="_blank"><img src="images/index/link03.jpg" title="高雄市環保局統計資訊網" alt="高雄市環保局統計資訊網"></a></li>
<li><a href="http://www.epa.gov.tw/np.asp?ctNode=31612&mp=epa" target="_blank"><img src="images/index/link04.jpg" title="行政院環保署" alt="行政院環保署"></a></li>
<li><a href="http://air.epa.gov.tw/Public/ke_main.aspx" target="_blank"><img src="images/index/link05.jpg" title="環保署空氣品質品改善資訊網" alt="環保署空氣品質品改善資訊網"></a></li>
<li><a href="http://air.ksepb.gov.tw/dispPageBox/AQMPHP.aspx?ddsPageID=AQMPHP" target="_blank"><img src="images/index/link06.jpg" title="空噪科空氣污染防制網頁" alt="空噪科空氣污染防制網頁"></a></li>
</ul>
<div class="footer-img01"></div>
</div>

<div class="footer-bg"><div class="min-box">
<div class="acca-box"><a class="acca-2" href="index.php" accesskey="B" title=":::(下方區塊)">:::</a></div>
<div style="float:left;">
<h1>高雄市政府環境保護局</h1>
<p>建議螢幕解析度1024*768 IE7.0以上<br>
地址：83347高雄市鳥松區澄清路834號<br>
電話：07-7351500 公害檢舉專線(24小時)：0800-066666、07-7317600<br>
本網站內容所有權歸高雄市政府環境保護局所有.請尊重智慧財產權，未經允許請勿任意轉載、複製或做商業用途
</p></div>
<ul>
<li><a href="Privacy.html" title="隱私權及資訊安全宣告">隱私權及資訊安全宣告</a></li>
<li>│</li>
<li><a href="Copyright.html" title="著作權聲明">著作權聲明</a></li>
</ul>
<a href="" target="_blank" class="footer-link"><img src="images/master/coessibillty.jpg" title="通過A+無障礙網站檢測(另開視窗)" alt="通過A+無障礙網站檢測(另開視窗)"></a>
</div></div>
       
</body>
</html>
